alabaster==0.7.8
appdirs==1.4.4
asn1crypto==0.24.0
attrs==18.2.0
Babel==2.6.0
backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.9.1
bleach==3.1.0
blis==0.2.4
bs4==0.0.1
certifi==2018.8.24
chardet==3.0.4
ChatterBot==1.0.5
cliapp==1.20180812.1
cloudpickle==0.8.0
cmdtest==0.32+git
configparser==4.0.2
contextlib2==0.6.0.post1
cryptography==2.6.1
cymem==2.0.3
dbus-python==1.2.12
decorator==4.3.0
defusedxml==0.5.0
distlib==0.3.1
Django==1.11.29
docutils==0.15.2
entrypoints==0.3
enum34==1.1.6
filelock==3.0.12
funcsigs==1.0.2
functools32==3.2.3.post2
futures==3.3.0
html5lib==1.0.1
idna==2.6
imagesize==1.0.0
importlib-metadata==2.1.1
importlib-resources==3.3.1
ipaddress==1.0.17
ipykernel==4.9.0
ipython==5.8.0
ipython-genutils==0.2.0
jedi==0.14.1
Jinja2==2.10
jsonschema==2.6.0
jupyter-client==5.2.4
jupyter-core==4.5.0
keyring==18.0.1
keyrings.alt==3.1.1
lxml==4.6.2
Markdown==3.1.1
MarkupSafe==1.1.0
mathparse==0.1.2
mercurial==4.8.2
mistune==0.8.4
murmurhash==1.0.2
nbconvert==5.4.0
nbformat==4.4.0
nltk==3.4.5
numpy==1.16.5
numpydoc==0.7.0
olefile==0.46
packaging==19.1
pandas==0.24.2
pandocfilters==1.4.2
parso==0.5.1
pathlib==1.0.1
pathlib2==2.3.4
pdf2image==1.14.0
pexpect==4.6.0
pickleshare==0.7.5
Pillow==6.1.0
Pint==0.9
plac==0.9.6
preshed==2.0.1
prompt-toolkit==1.0.15
psutil==5.5.1
pycairo==1.16.2
pycodestyle==2.5.0
pycrypto==2.6.1
pyflakes==2.1.1
Pygments==2.3.1
PyGObject==3.34.0
pylint==1.9.5
pymongo==3.10.0
pyOpenSSL==19.0.0
pyparsing==2.2.0
PyQt5==5.12.3
python-dateutil==2.7.3
pytz==2019.2
pyxdg==0.25
PyYAML==5.1.2
pyzmq==17.1.2
QtAwesome==0.4.4
qtconsole==4.3.1
QtPy==1.3.1
requests==2.21.0
roman==2.0.0
rope==0.10.5
scandir==1.10.0
SecretStorage==2.3.1
selenium==3.141.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
sip==4.19.18
six==1.12.0
soupsieve==1.9.6
spacy==2.1.9
Sphinx==1.8.5
spyder==3.3.6
spyder-kernels==0.2.4
SQLAlchemy==1.2.19
sqlparse==0.2.4
srsly==0.2.0
testpath==0.4.2
thinc==7.0.8
tornado==5.1.1
tqdm==4.41.0
traitlets==4.3.2
ttystatus==0.38
typing==3.6.6
urllib3==1.24.1
virtualenv==20.4.0
wasabi==0.4.2
wcwidth==0.1.7
webencodings==0.5.1
zipp==1.2.0
