{% load static %}
<head>
      <title>Green Office</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
   </head>
   {%  include 'navbar2.html' %}
<br>
    <br>



<div >
    <br>
    <br>
    <h2>Welcome to Green-Office 🌱 🌏 - Conserve Earth in a fun and interactive way together with your team and colleagues !</h2>
    <!--
    <a href="/login" class="btn btn-primary">Login</a>
    <a href="/register" class="btn btn-danger">Register</a>
    -->
    <br/>
    <p class="infotext2" > 
        🔖 Our mother Earth is slowly dying because of green house gases and carbon footprints .
        <br>
        <br>
        🔖 It's high time , and many preventive and conservative measures needs to be implemented. 
        <br>
        <br>
        🔖 With the Covid-19 pandemic , the world has seen 'Work from home' or 'Remote Work' , which has led to less carbon footprints as compared to before as offices are closed and less commuting happens , etc
        <br>
        <br>
        🔖 Why Green Office ?
        <br>
        <br>
        🔖 Office colleagues can form teams and work towards reducing footprint together !
       <br>
       <br>
       🔖 Team members can calculate individual carbon footprints as also team carbon footprint. 
        <br>
        <br>
       🔖 Not only that , there are also credit reward points for offsetting carbon footprints and be on top of leaderboard , so why wait ? Just dive into 'Green-office' !
    </p>
</div>