{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Climate-Impact</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">

</head>
<body>
	{%  include 'navbar.html' %}
	<div class="container-fluid">
	{% block content %}



	{% endblock %}
    </div>
    <br>
    <br>
    <div style="float:center;">
     <h3> 📍 Calculate Individual Carbon Footprint 👣 </h3>
 </div>
 <br>
 <br>
    <div class="container" style="float:center;">

    	<div class="login-content">
    		
    		 <br>
    		 <br>
    		 <br>


    <iframe width="710" height="1300" frameborder="0" marginwidth="0" marginheight="0" scrolling="yes" src="https://calculator.carbonfootprint.com/calculator.aspx"></iframe>
   		 </div>
   	</div>
	<hr>

	<h5>Conserve Earth , Reduce Footprint !</h5>


	
</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>